@import '../vars.sass'
.app
  overflow: hidden
  display: flex
  flex-direction: column
  
  @media only screen and (min-width: $breakpoint-desktop)
    margin-left: $dimension-drawer
    
  &-content
    padding: 2*$dimension-space 3*$dimension-space
    display: flex
    flex: 1
    overflow-y: scroll

    .main-container
      height: 100%


    @media only screen and (min-width: $breakpoint-desktop)
      padding: 3*$dimension-space 4*$dimension-space
