@import '../vars.sass'
.app
  overflow: hidden
  display: flex
  flex-direction: column
  
  @media only screen and (min-width: $breakpoint-desktop)
    margin-left: $dimension-drawer
    
  &-content
    display: flex
    flex: 1
    overflow-y: scroll

    .main-container
      height: 100%
